{% extends 'blog/main.html' %}

{% block content %}

    <h1>Hello, <a href="{% url 'profile' user.id %}">{{ user.username }}</a>!</h1>
    <a href="{% url 'create-blog' %}">Create Blog</a>
    <a href="{% url 'logout' %}">Logout</a>
    <hr>
    <div>
        {% include 'blog/categories_component.html' %}
    </div>
    <hr>
    <div>
        <h2>Blog Feed</h2>
        <form method="GET" action="">
            <input name="q" placeholder="Search Blogs">
            <br>
            <br>
            <button type="submit">Search</button>
        </form>
        <br>
        {% include 'blog/feed_component.html' %}
    </div>

{% endblock %}